body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
h1{
    background-color: black;
    color: white;
}

button{
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    background-color: gray;
    color: white;
    cursor: pointer;
}
img{
    width: 50%;
    border-radius: 50%;
    filter: grayscale(100%);
}

img:hover{
    filter: grayscale(0);
    border-radius: 10%;
}

div{
    width: 50%;
    padding: 10px;
    border: none;
    background-color: lightcoral;
    color: darkgreen;
}